<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>IMD SHNACKBARRR</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load theme styles -->
	<link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.css" />
	<link rel="stylesheet" href="assets/bower_components/normalize.css/normalize.css" />

	<link rel="stylesheet" href="assets/css/styles.css" />
</head>

<body>
	<div class="container" ng-app="IMDApp" ng-controller="controller">
		<h1>IMD SHNACKBARRR</h1>

		<div class="center">
			<label for="name">Tell me, what is your name?</label>
			<input type="text" name="name" ng-model="myName" />
			<p ng-if="myName">Hello {{myName}}, order some drinks!</p>
		</div>

		<div ng-if="myName" class="productsContainer">

			<div class="orderAdd">
				<input type="text" placeholder="Zoek een product" ng-model="productSearch" />

				<ul class="productList">
					<li ng-repeat="product in products | filter:productSearch">
						<span class="name">{{product.name}}</span>
						<small class="quantity">{{product.quantity || 0}}</small>
						<amount-control quantity="product.quantity"></amount-control>
					</li>
				</ul>
				<button class="action" ng-click="postOrder()">Send your order</button>
				<p ng-if="status.orderSent">Your order has been added!</p>
			</div>


			<div class="addProduct">
				<label>Nieuw Product</label>
				<div class="input-wrapper">
					<input type="text" placeholder="Productnaam" ng-model="newProductName" />
				</div>
				<button class="action" ng-click="putProduct(newProductName)">Add product</button>
			</div>
		</div>
	</div>

	<!-- SCRIPTS ///////////////////////////////////////////////////// -->

	<!-- ANGULAR -->
	<script src="assets/bower_components/jquery/dist/jquery.js"></script>
	<script src="assets/bower_components/lodash/lodash.js"></script>
	<script src="assets/bower_components/angular/angular.js"></script>

	<!-- LOCAL SCRIPT-->
	<script>
		// Insert Angular magic here
		var app = angular.module('IMDApp', []);

		app.controller('controller', function ($scope, $http) {
			//			console.log('HALLO PIETER', $scope, $http);

			$scope.myName = 'Jack Hoff';

			// GET request on page load
			$scope.loadProducts = function loadProducts() {
				$http.get('http://imd.district01.be/product')
					.success(function (data, status, headers, config) {
						$scope.products = data;
						//					console.log("DATA: ", data, "STATUS: ", status, "HEADERS: ", headers, "CONFIG: ", config);
						// this callback will be called asynchronously
						// when the response is available
					})
					.error(function (data, status, headers, config) {
						// called asynchronously if an error occurs
						// or server returns response with an error status.
					});
			};

			$scope.putProduct = function putProduct(newProductName) {
				console.log("NEW PRODUCT: ", newProductName);
				$http.post('http://imd.district01.be/product', {
						"name": newProductName
					})
					.success(function (url, data, config) {
						console.log("URL: ", url, "DATA: ", data, "CONFIG: ", config);
						$scope.loadProducts();
					})
					.error(function (url, data, config) {
						console.log("You fucked up");
						console.log("URL: ", url, "DATA: ", data, "CONFIG: ", config);
					});
			};

			$scope.postOrder = function postOrder() {
//				console.log("ORDER: ", $scope.myName, $scope.products);

				//lodash
				var products = _.filter($scope.products, function (product) {
					return product.quantity > 0;
				});
				
//				console.log(products);
				
				$http.post('http://imd.district01.be/order', {
						username: $scope.myName,
						products: products
					})
					.success(function (url, data, config) {
						console.log("URL: ", url, "DATA: ", data, "CONFIG: ", config);
					})
					.error(function (url, data, config) {
						console.log("You fucked up");
						console.log("URL: ", url, "DATA: ", data, "CONFIG: ", config);
					});
			};

			$scope.loadProducts();
		});

		app.directive('amountControl', function () {
			return {
				template: '<button ng-click="quantity = quantity + 1">+</button><button ng-click="quantity = (quantity - 1 >= 0? quantity - 1 : quantity)">-</button>',
				//				restrict: 'AEC',
				scope: {
					quantity: '=quantity'
				},
				link: function ($scope, element, attributes) {

				}
			};
		});
		// API URL: 'http://imd.district01.be'
		// PRODUCTS: 'http://imd.district01.be/product' (PUT - GET)
		// ORDER: 'http://imd.district01.be/order' (POST)
	</script>

</body>

</html>