* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	overflow: hidden;
}

body,
#user,
#question {
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
	width: 100%;
}

section {
	min-height: 100%;
	margin-bottom: -127px;
	background: #e5e5e5;
}

.top-bar {
	background: #34495e;
	color: white;
	padding: 10px;
}

.questions {
	list-style: none;
	padding-bottom: 50px;
	overflow-x: hidden;
	overflow-y: auto;
}

.questions li {
	padding: 0.5rem;
	display: flex;
}

.newQuestion {
	-webkit-animation: newQuestion .4s ease-in-out;
	-moz-animation: newQuestion .4s ease-in-out;
	-o-animation: newQuestion .4s ease-in-out;
	animation: newQuestion .4s ease-in-out;
}

.questions .avatar {
	width: 40px;
	position: relative;
}

.questions .avatar img {
	display: block;
	width: 100%;
}

li .avatar:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 5px solid white;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.question {
	background: white;
	padding: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.question p {
	margin: 0 0 0.2rem 0;
}

.question .username {
	font-weight: bold;
}

form {
	width: 100%;
	display: flex;
	border: 3px solid #34495e;
}

form .fields {
	flex: 5;
}

.fields p#user {
	font-weight: bold;
	background-color: #34495e;
	color: #fff;
}

.fields #user,
.fields #question {
	padding: 10px;
	border: none;
}

.fields #question {
	resize: none;
}

#btn {
	border: none;
	background-color: #34495e;
	color: #fff;
	padding: 10px;
	font-size: 20px;
	transition: all .2s ease;
}

#btn:hover {
	background-color: #3498db;
	padding: 10px 20px;
	font-size: 25px;
	cursor: pointer;
}
/*Animations*/

@-webkit-keyframes newQuestion {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	10%,
	70% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}
	40% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}

@-moz-keyframes newQuestion {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}

@-o-keyframes newQuestion {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}

@keyframes newQuestion {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}