* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: "Droid Sans", sans-serif;
	color: #fff;
	text-align: center;
	font-size: 14pt;
	width: 100%;
	background: #3498db;
}

nav ul {
	width: 100%;
	display: flex;
	background-color: #2980b9;
}

nav ul li {
	list-style-type: none;
	width: 50%;
	padding: 10px 0;
	transition: all .2s ease;
}

nav ul li:hover {
	background-color: #fff;
	color: #191919;
	cursor: pointer;
}

button {
	outline: none;
	position: relative;
	top: 0;
	border: none;
	box-shadow: 0px 5px 0px 0px #27ae60;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #2ecc71;
	color: #fff;
	font-size: 11pt;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .15s ease;
	margin: 10px 0;
}

button:hover {
	box-shadow: 0px 5px 0px 0px #2ecc71;
	background-color: #4fee93;
}

button:active {
	top: 3px;
	box-shadow: 0px 2px 0px 0px #2ecc71;
}

button.red {
	background-color: #e74c3c;
	box-shadow: 0px 5px 0px 0px #c0392b;
}

button.red:hover {
	box-shadow: 0px 5px 0px 0px #e74c3c;
	background-color: #f96e5e;
}

button.red:active {
	top: 3px;
	box-shadow: 0px 2px 0px 0px #e74c3c;
}

div {
	padding: 10px;
}

.icon {
	background-size: cover;
	width: 50px;
	height: 50px;
}

#weatherIcon {
	width: 160px;
	height: 160px;
	margin: 15px;
}

#rain, #wind {
	width: 80%;
	margin: 0 auto;
}
#windIcon,
#rainIcon {
	margin-left: 30px;
	margin-top: 10px;
}

#rainInfo,
#windInfo {
	text-align: left;
}

#windIcon {
	background-image: url("../images/icons/wind.svg");
}

#rainIcon {
	background-image: url("../images/icons/rain.svg");
}

#currentDay,
#time,
#summary {
	text-align: center;
}

#summary span,
#rainInfo span,
#windInfo span {
	display: block;
}

#currentDay {
	font-size: 30pt;
	text-transform: uppercase;
	padding-bottom: 0;
}

#time {
	padding-top: 0;
}

#actualTemp {
	font-size: 100pt;
}

.debug {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	word-wrap: break-word;
}

.debugInfo {
	text-align: left;
	border-top: 1px dashed #ccc;
}