extends layout

block content
 section
  header.top-bar
   h1= title
  ul.questions
 form(action="")
  .fields
   input#user(type="text" placeholder="Username")
   hr
   textarea#question(type="text" placeholder="Your Question" rows="3")
  button#btn Ask!
  
 script(src="https://cdn.socket.io/socket.io-1.3.4.js")
 script(src="//code.jquery.com/jquery-1.11.1.js")
 script(src="/javascripts/scripts.js")