.nav{width:100%;padding:1em;background-color:#add8e6}.nav__item,.nav__item--featured{display:block;width:33.33%;float:left}.nav__item--featured{color:green}.blog{font-family:"Droid Sans", arial, sans-serif}.blog .blog__article-title{color:#5fb3ce}.blog .blog__article-body{-webkit-columns:3;-moz-columns:3;columns:3}
/*# sourceMappingURL=style.css.map */
